.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas {
  cursor: grab;
  margin: 1rem;
  border-radius: 20px;
  border: 3px solid black;
  width: 50rem;
}

.label_renderer {
  position: absolute;
  top: 0;
  margin: 1rem;
  pointer-events: none;
}

.annotation {
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 25px);
  transition: all 0.2s ease-in-out;
}

.arrowRight:hover {
  transform: scale(1.1);
}

.arrow:hover {
  opacity: 0.75;
}

.arrow > img {
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
}

.arrowRight {
  right: 80px;
}

.arrowLeft {
  left: 20px;
  top: calc(50% - 25px);
  transition: all 0.2s ease-in-out;
}

.arrowLeft:hover {
  transform: scale(1.1);
}

.arrowLeft > img {
  transform: rotate(180deg);
}

.backButton {
  height: 100vh;
  width: 100px;
}

.backButton > img:hover {
  transform: translateX(-7px);
}

.backButton > img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.backButtonImage {
  margin-left: 10px;
  margin-top: 10px;
}

.backButtonImage:hover {
  opacity: 0.75;
}

.backButton > img {
  top: 0;
  width: 50px;
  height: 50px;
}

.pannel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 217, 255, 1),
    10%,
    lightblue
  );
}

.pannel > h2 {
  color: white;
  font-weight: 900;
  text-decoration: underline;
}

.infos {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 217, 255, 1),
    10%,
    lightblue
  );
  justify-self: flex-end;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.infos > div {
  font-style: italic;
  padding-bottom: 1rem;
}

.infos > h2 {
  padding: 0;
  text-decoration: underline;
  margin-block: 0;
  margin-bottom: 1rem;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: white;
  font-style: italic;
}

.colorPicker {
  width: 100px;
  border: none;
  cursor: pointer;
}
