.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas {
  cursor: grab;
  margin: 1rem;
  border-radius: 20px;
  border: 3px solid black;
  width: 50rem;
}

.canvas:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

.label_renderer {
  position: absolute;
  top: 0;
  margin: 1rem;
  pointer-events: none;
}

.annotation {
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.arrowRight {
  cursor: pointer;
  position: absolute;
  right: 80px;
  top: calc(50% - 25px);
}

.arrowRight > img {
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
}

.arrowLeft {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: calc(50% - 25px);
}

.arrowLeft > img {
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

.backButton {
  height: 100vh;
  width: 100px;
}

.backButtonImage {
  margin-left: 10px;
  margin-top: 10px;
}

.backButton > img {
  top: 0;
  width: 50px;
  height: 50px;
}

.pannel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  /* position: absolute;
  top: 0;
  right: 0; */
  background: linear-gradient(to right, rgb(255, 207, 0), rgb(255, 207, 0));
  text-align: center;
  align-items: center;
  /* background: linear-gradient(to right, #e66465, #9198e5); */
}

/* .pannel {

} */

.infos {
  background-color: black;
  justify-self: flex-end;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

.infos > div {
  font-style: italic;
  padding-bottom: 1rem;
}

.infos > h2 {
  padding: 0;
  text-decoration: underline;
  margin-block: 0;
  margin-bottom: 1rem;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}

.colorPicker {
  width: 100px;
  border: none;
  cursor: pointer;
}
