.viewer_container {
  height: 100%;
  width: 100%;
}

.canvas {
  cursor: grab;
  margin: 1rem;
  border-radius: 20px;
  border: 3px solid black;
}

.canvas:hover {
  border-color: rgba(0, 0, 0, .5);
}

.label_renderer {
  position: absolute;
  top: 0;
  margin: 1rem;
  pointer-events: none;
}

.annotation {
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .2);
  border: 1px solid black;
}

.big {
  /* width: 50rem; */
  height: fit-content;
  animation: changeSize;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.little {
  width: 30rem;
}

@keyframes changeSize {
  0% {
  }
  100% {
    width: 50rem;
  }
}

.pannel {
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    to right,
    rgba(145, 152, 229, 0),
    rgba(145, 152, 229, 1)
  );
  /* background: linear-gradient(to right, #e66465, #9198e5); */
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: white;
}
